* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background:  #f7f7f7;
}

#header{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h1.blocktext {
    font-family: Helvetica, sans-serif;
    background-color: #00433e;
    color: rgb(255, 255, 255);
    font-size: 48px;
    padding: 18px;
}

#description{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

a{
    font-family: Helvetica, sans-serif;
    background-color: #292929;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #fce300
}

p.desc {
    font-family: Helvetica, sans-serif;
    background-color: #292929;
    color: #ffffff;
    font-size: 18px;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#centered_img {
    margin-left: auto;
    margin-right: auto;
    width:780px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #ffffff 
}

#caption{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

p.captext{
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    font-size: 12px;
    padding-left: 12px;
}

#main_text{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#options{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #ffffff;
    text-align: center;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    padding: 18px;
    font-size: 16px
}

p.tips{
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    padding-top: 1px;
    padding-left: 18px;
    font-size: 13px;
    font-style: italic;
}

.select{
    background-color: #ffffff;
    border: solid;
    border-color: #292929;
    color: #292929;
    width: 150px;
    height:40px;
    padding: 1px 2px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-width: 1px;
}

.select:hover{
    background-color: #f7f7f7;
}

.button {
    background-color: #ffffff;
    border: solid;
    border-color: #292929;
    color: #292929;
    width: 125px;
    height:40px;
    padding: 1px 2px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-width: 1px;
}

.button:hover{
    background-color: #f7f7f7;
}

circle{
    fill: #00433e;
    stroke: #292929;
    opacity: 0.6;
}

#chart{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #ffffff;
}

svg.chart_area{
    background-color: #ffffff;
}

.tooltip{
    background-color: #f7f7f7;
    font-family: Helvetica, sans-serif;
    border: solid;
    border-color: #292929;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    opacity: 0;
}

.x_axis_title{
    text-anchor: middle;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

.y_axis_title{
    text-anchor: middle;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}